<form (ngSubmit)="calcular()">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="num1" class="form-label">Número 1</label>
        <input type="number" class="form-control" [(ngModel)]="num1" name="num1"
          id="num1" placeholder="Enter Numero 1">
      </div>
      <div class="mb-3">
        <label for="num2" class="form-label">Número 2</label>
        <input type="number" class="form-control" [(ngModel)]="num2" name="num2"
          id="num2" placeholder="Enter Numero 2">
      </div>

      <hr>
      <label class="form-label">Selecciona la operación:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="operacion" name="operacion" value="sumar" id="opSuma" checked>
        <label class="form-check-label" for="opSuma">Sumar</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="operacion" name="operacion" value="restar" id="opResta">
        <label class="form-check-label" for="opResta">Restar</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="operacion" name="operacion" value="multiplicar" id="opMulti">
        <label class="form-check-label" for="opMulti">Multiplicar</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="operacion" name="operacion" value="dividir" id="opDividir">
        <label class="form-check-label" for="opDividir">Dividir</label>
      </div>

      <hr>
      <button (click)="calcular()" type="" class="btn btn-primary mt-2">Calcular</button>
    </div>

    <div class="col-6">
      <h1>Tu resultado es: {{resultado}}</h1>
    </div>
  </div>
<form>
